{% extends "cafe/base.html" %}
{% load static %}
{% block title %}Виртуальное кафе{% endblock %}
{% block content %}
    <h1>Добро пожаловать в виртуальное кафе!</h1>
    <p>Привет, {{ user.username }}!</p>
    <a href="{% url 'order_coffee' %}" class="btn btn-primary"><i class="bi bi-cup-hot-fill"></i> Заказать кофе</a>
    <a href="{% url 'drink_coffee' %}" class="btn btn-primary"><i class="bi bi-cup-fill"></i> Выпить кофе</a>
    <a href="{% url 'leave_cafe' %}" class="btn btn-primary"><i class="bi bi-door-open-fill"></i> Выйти из кафе</a>
    <h2>Посетители:</h2>
    <ul>
        {% for user in users %}
            <li>
                <i class="bi bi-person"></i>
                {{ user.username }}
                {% if user.is_drinking_coffee %}
                    <i class="bi bi-cup-hot"></i> (*пьет кофе)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

